* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f0f0f0;
    font-family: 'Arial', sans-serif;
}

.card {
    text-align: center;
    padding: 30px;
    background-color: #ffeb3b;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 400px;
}

h1 {
    font-size: 2.5em;
    color: #e91e63;
    margin-bottom: 10px;
}

p {
    font-size: 1.2em;
    color: #333;
    margin-bottom: 20px;
}

button {
    padding: 10px 20px;
    font-size: 1.1em;
    background-color: #e91e63;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #d81b60;
}
.spotify-container {
    text-align: center;
    margin-top: 20px;
}
